{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}相关提交 | {{ collecting_title }}{% endblock %}

{% block branding %}
<h1 id="site-name">{{ collecting_title }}</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{{ return_url }}">返回</a>
</div>
{% endblock %}

{% block content %}
<h1>相关的提交</h1>
{% if rows %}
<table>
    <thead>
        <tr>
            {% for head in heads %}
                <th> {{ head }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for tr in rows %}
            <tr>
                {% for td in tr.0 %}
                    <td> {{ td | safe }} </td>
                {% endfor %}
                {% if tr.1 %}
                <td><a href="{{ tr.1 }}" target="_blank">查看或编辑</td>
                {% else %}
                <td>无</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>没有相关的提交</p>
{% endif %}
{% endblock %}