{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}用户提交情况 | {{ collecting_title }}{% endblock %}

{% block branding %}
<h1 id="site-name">{{ collecting_title }}</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{{ return_url }}">返回</a>
</div>
{% endblock %}

{% block content %}
<h1>已提交的用户</h1>
{% if submitted_results %}
<table>
    <thead>
        <tr>
            {% for head in submitted_heads %}
                <th> {{ head }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for tr in submitted_results %}
            <tr>
                {% for td in tr.0 %}
                    <td> {{ td | safe }} </td>
                {% endfor %}
                <td><a href="{{ tr.1 }}" target="_blank">查看该用户的提交</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>没有必须提交且已提交的用户</p>
{% endif %}
<br/>
<h1>未提交的用户</h1>
{% if not_submitted_results %}
<table>
    <thead>
        <tr>
            {% for head in not_submitted_heads %}
                <th> {{ head }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for tr in not_submitted_results %}
            <tr>
                {% for td in tr %}
                    <td> {{ td | safe }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>没有必须提交且未提交的用户</p>
{% endif %}
{% endblock %}