/* register FORM */

body.register {
    background: #f8f8f8;
}

.register #header {
    height: auto;
    padding: 5px 16px;
}

.register #header h1 {
    font-size: 18px;
}

.register #header h1 a {
    color: #fff;
}

.register #content {
    padding: 20px 20px 0;
}

.register #container {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
}

.register #content-main {
    width: 100%;
}

.register .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
}

.register .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.register .form-row input {
    clear: both;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.register .form-row select {
    clear: both;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.register .selects-holder {
    display: flex;
    flex-direction: ror;
    justify-content: space-between;
    width: 100%;    
}

.register .select {
    width: 45%;
}

.register span.help {
    font-size: 10px;
    display: block;
}

.register .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
    margin: 0;
    border: none;
    background: none;
    text-align: left;
}

.register .submit-row .transmode {
    text-align: right;
}

@media (max-width: 767px) {
    body.register {
        padding: 0 15px;
    }

    .register #container {
        width: auto;
        max-width: 480px;
        margin: 50px auto;
    }

    .register #header,
    .register #content {
        padding: 15px;
    }

    .register #content-main {
        float: none;
    }

    .register .form-row {
        padding: 0;
    }

    .register .form-row + .form-row {
        margin-top: 15px;
    }

    .register .form-row label {
        display: block;
        margin: 0 0 5px;
        padding: 0;
        line-height: 1.2;
    }

    .register .submit-row {
        padding: 15px 0 0;
    }

    .register br, .register .submit-row label {
        display: none;
    }

    .register .submit-row input {
        margin: 0;
        text-transform: uppercase;
    }

    .errornote {
        margin: 0 0 20px;
        padding: 8px 12px;
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    .register #header {
        padding: 15px 20px;
    }

    .register #branding h1 {
        margin: 0;
    }
}